<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.mapper.UsersMapper">
<update id="insertSale" statementType="CALLABLE">
    call pro_addSale(
    #{price,mode=IN,jdbcType=FLOAT},
    #{num,mode=IN,jdbcType=BIGINT},
    #{totalPrice,mode=IN,jdbcType=FLOAT},
    #{uId,mode=IN,jdbcType=BIGINT},
    #{pId,mode=IN,jdbcType=BIGINT}
    );
</update>
</mapper>